/*###########################
##########HEADER###########
########################### */

.header{
    background-color:#1d252c;
    color: white;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 70px;

}
 /*estilos solamente para los enlaces del header*/
 .header a{
     color: white;
     text-decoration: none;
 }
 .header ol{
     display: flex;
     height: inherit;
 }

 .header ol li{
     height: inherit;
    }
    
.header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

 ol, ul
{
margin:0px;
padding: 0;
list-style: none;
}

.menu{
    height: inherit;
}
/*###########################
##########HERO###########
########################### */

.hero{
    height: 300px;
    /*imagen de fondo*/
    background-image: url('../imagenes/hero.jpg');
    /*estilos de imagen de fondo*/
    background-size: 500px 300px;
    /*repetición de imagenes de fondo a través de patrones*/
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #1d252c;
    margin-top: 0px;
    align-items: center;
    display: flex;

    }

    h1{
        /*alto de linea*/
        line-height: 1.5;
        font-size: 40px;
        letter-spacing: -.2px;
        /*Primera letra en mayúscula*/
        text-transform: capitalize;
        text-decoration: dashed;
        color: white;
        margin: 0;
         
    }
    
    h1 strong{
        color: #026fff;
    }


/*###########################
##########PORTFOLIO###########
########################### */
.project{
    /* border-top: 10px solid red;
     border-right: 10px solid green;
     border-left: 10px solid orange;
     border-bottom: 10px solid pink;*/
  /*    border-width: 15px;
     border-style:solid; */
     border-radius: 15px;
     border: 1px solid black;
     margin-bottom: 15px;
     padding: 20px;
     margin: 10px;
    background-color: white;


   /*permite alinar elementos de forma horizontal 
    justify-content: */
    
    /*forma de organizar los elementos dentro del website
    en columnas,filas, ect.
    flex-direction:  */

    /*permite alinear elementos de forma vertical
    align-items: ;*/

    /* permite asignarle un máximo de tamaño de la caja de lugar
    de trabajo; se le agg más megen, padding, o bode no sobrepasará
    el tamaño máximo asingnado con width and height
    box-sizing: border-box; */
 }

 .portfolio{
     background-color:#FAFAFA;
 }
 
 .project-details{
     width: 500px;
 }
 
 .project-imageContainer{
     width: 500px;
 }
 

/*###########################
##########EVENTOS###########
########################### */

/*###########################
##########CONTACTO###########
########################### */

/*###########################
##########FOOTER###########
########################### */

.footer{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer img{
    /* alineación vertical de los elementos */
    vertical-align: middle;
}

.footer a {
    color: white;
}




 /*###########################
##########GLOBALS###########
########################### */
body{
    margin: 0;
    font-family:'Source Sans Pro', sans-serif;
}

h1,
h2, 
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    /*anchura de fuente*/
    font-weight: normal;
    /* cursiva font-style: italic;*/
}

figure{
    margin: 0;
}


