/*###########################
##########HEADER###########
########################### */

.header{
    background-color:#1d252c;
    color: white;
    margin-bottom: 0px;

}
 /*estilos solamente para los enlaces del header*/
 .header a{
     color: white;
     text-decoration: none;
 }
/*###########################
##########HERO###########
########################### */


/*###########################
##########PORTFOLIO###########
########################### */
.project{
    /* border-top: 10px solid red;
     border-right: 10px solid green;
     border-left: 10px solid orange;
     border-bottom: 10px solid pink;*/
  /*    border-width: 15px;
     border-style:solid; */
     border-radius: 15px;
     border: 2px solid black;
     margin-bottom: 15px;
     padding: 20px;
     margin: 10px;
    background-color: white;
 }

 .portfolio{
     background-color:#FAFAFA;
 }
 
 .project-details{
     width: 500px;
 }
 
 .project-imageContainer{
     width: 500px;
 }
 

/*###########################
##########EVENTOS###########
########################### */

/*###########################
##########CONTACTO###########
########################### */

/*###########################
##########FOOTER###########
########################### */

 /*###########################
##########GLOBALS###########
########################### */
body{
    margin: 0;
    font-family:'Source Sans Pro', sans-serif;
}

h1,
h2, 
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    /*anchura de fuente*/
    font-weight: normal;
    /* cursiva font-style: italic;*/
}

h1{
    /*alto de linea*/
    line-height: 1.5;
    font-size: 40px;
    letter-spacing: -.2px;
    /*Primera letra en mayúscula*/
    text-transform: capitalize;
    text-decoration: dashed;
    color: white;
     
}

h1 strong{
    color: #026fff;
}
.hero{
height: 300px;
/*imagen de fondo*/
background-image: url('../imagenes/hero.jpg');
/*estilos de imagen de fondo*/
background-size: 500px 300px;
/*repetición de imagenes de fondo a través de patrones*/
background-repeat: no-repeat;
background-position-x: right;
background-color: #1d252c;
margin-top: 0px;
}

ol,h1
{
margin:0px;
}